@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .my-container {
      @apply container mx-auto px-40 py-16;
    }
  }
  .password-manager-container {
    height: calc(103.4vh - 160px);
    overflow-x: hidden;
}
/* Add this CSS to your stylesheet or component */

.table-container {
  overflow-x: auto; /* Enable horizontal scrolling */
  max-width: 100%; /* Set maximum width to ensure responsiveness */
}

  